# Build output
dist
build
.next
out

# Dependencies
node_modules
.pnpm-store

# Environment
.env*
.vercel

# Misc
.DS_Store
.vscode
coverage
*.log

# Prisma
prisma/migrations

# Wrangler
.wrangler
wrangler.toml