body {
  height: 100%;
  overflow-y: auto;
}

main {
  /* max-width: 48rem; */
  position: relative;
  transition: none;
}

.img {
  /* border-radius: 1rem; */
  width: 100%;
  cursor: pointer;
  align-self: center;
  margin-bottom: 0.5rem;
  overflow: hidden;
}

.img img {
  width: 100%;
  max-width: 600px;
  height: 400px;
  object-fit: cover;
  background-position: center;
}

.mini {
  margin-top: 0.5rem;
  height: 300px;
}

.blog {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.blog a {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
}

span.less {
  font-size: 1.35rem;
  line-height: 1.55rem;
  margin-top: 0.5rem;
  margin-bottom: -0.65rem;
}
